<%= render "layouts/full_nav_bar" %>

<h2>Bienvenido</h2>
<p>Aquí está el juego</p>
<h1>¡Haz clic en <img src="/assets/triangle.png" width="65"> para escuchar!</h1>
<div>
  <table class="table table-striped table-responsive">
    <thead>
      <audio class="clip" id="<%= @word.id %>">
        <source src=<%= @word.url %>></source>
      </audio>
      <img src="/assets/triangle.png" width="65" class="play-btn" id="<%= @word.id %>">
    </thead></br>
    <tbody>
      <% @word_list.each do |word| %>
        <tr><td><%= word.meaning %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>
