<%= render "layouts/full_nav_bar" %>
<p>
<p id="start-btn" class="btn btn-width">Grabar</p>
<p id="warning" hidden=true>Favor de actualizar la página y permitir el uso del micrófono</p>
</p>
<!-- <h2>Recordings</h2> -->
<ul id="recordingslist"></ul>
<p id="clip-play" hidden=true>Escuchar</p>
<div id="meaning" hidden=true>
  <h1 class="big-txt">Quiere decir...</h1>
  <%=form_tag(upload_path(@upload.id), method: "patch") do %>
    <%= text_field_tag :meaning, nil, placeholder: "significado", class: "btn btn-width txt-box" %></br>
    <p><%= submit_tag "Guardar", class:"btn btn-width" %></p>
    <p> <%= link_to "Cancelar", new_upload_path, { class:"btn btn-width" } %>
  <% end %>
</div>

<script src="../assets/recorder.js" type="text/javascript"></script>
