<navbar>
<%= nav_bar fixed: :top, responsive: true do %>
  <div class="nav-list">
    <%= menu_group inline: true do %>
      <%= menu_item image_tag("goat-walking4.png", size: "125x125"), root_path, class:"nav-list-image" %></a>
    <% end %>

    <%= menu_group pull: :right do %>
      <% if current_user.nil? %>
        <%= menu_item "Entrar con Facebook", "/auth/facebook", class:"btn btn-lg nav-list-item login" %>
      <% else %>
        <%= menu_item "Salir", logout_path, class:"nav-list-item" %>
      <% end %>
    <% end %>
  </div>
<% end %>
</navbar>
